@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url("../fonts/helveticaneuecyr-light.eot");
  src: local("☺"), url("../fonts/helveticaneuecyr-light.woff") format("woff"), url("../fonts/helveticaneuecyr-light.ttf") format("truetype"), url("../fonts/helveticaneuecyr-light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url("../fonts/helveticaneuecyr-roman.eot");
  src: local("☺"), url("../fonts/helveticaneuecyr-roman.woff") format("woff"), url("../fonts/helveticaneuecyr-roman.ttf") format("truetype"), url("../fonts/helveticaneuecyr-roman.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url("../fonts/helveticaneuecyr-bold.eot");
  src: local("☺"), url("../fonts/helveticaneuecyr-bold.woff") format("woff"), url("../fonts/helveticaneuecyr-bold.ttf") format("truetype"), url("../fonts/helveticaneuecyr-bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url("../fonts/HelveticaNeueCyr-Black.eot");
  src: local("☺"), url("../fonts/HelveticaNeueCyr-Black.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Black.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr-Black.svg") format("svg");
  font-weight: 900;
  font-style: normal;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ibg img {
  display: none;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

html, body {
  height: 100%;
  font-family: 'HelveticaNeueCyr';
}

body.lock {
  overflow: hidden;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.container {
  max-width: 1127px;
  margin: 0 auto;
  padding: 0 10px;
}

.mainblock {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.slider {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.slider__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.slider .slick-arrow {
  font-size: 0;
}

.slick-list {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slick-slide {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.header {
  background-color: #191919;
  position: fixed;
  z-index: 100;
  width: 100%;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 99px;
  width: 100%;
}

.header__row:before {
  content: '';
  width: 100%;
  height: 99px;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: #191919;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 4;
}

.header__logotype {
  position: relative;
  z-index: 4;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 143px;
  flex: 0 1 143px;
}

.header__logotype img {
  max-width: 100%;
}

.header__burger {
  display: none;
}

.header__menu {
  position: relative;
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu li {
  margin: 0 16px;
}

.header__menu li:first-child {
  margin: 0 16px 0 0;
}

.header__menu li:last-child {
  margin: 0 0 0 16px;
}

.header__link {
  position: relative;
  font-size: 16px;
  letter-spacing: 0.01em;
  color: #ffffff;
}

.header__link:hover:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -7px;
  height: 1px;
  width: 100%;
  background-color: #fcef48;
  -webkit-animation-name: run;
  animation-name: run;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
}

@-webkit-keyframes run {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes run {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.header__contacts {
  position: relative;
  z-index: 4;
}

.header__adress {
  font-size: 16px;
  letter-spacing: 0.01em;
  text-align: right;
}

.header__adress a {
  color: #ffffff;
}

.header__phone {
  margin: 13px 0 0 0;
  background: url(../img/phones/01_g.png) left no-repeat;
  padding: 0 0 0 25px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.01em;
}

.header__phone a {
  color: #ffff68;
}

@media (max-width: 1000px) {
  .header__row {
    height: 70px;
  }
  .header__row:before {
    height: 70px;
  }
  .header__logotype {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 120px;
    flex: 0 1 120px;
  }
  .header__body {
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    overflow: auto;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
  }
  .header__body.active {
    top: 0;
  }
  .header__burger {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 30px;
    height: 20px;
    z-index: 5;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
  .header__burger:before {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1.5px;
    background-color: #ffff68;
  }
  .header__burger span {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: block;
    position: absolute;
    top: 8px;
    left: 0;
    width: 100%;
    height: 1.5px;
    background-color: #ffff68;
  }
  .header__burger:after {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    content: '';
    position: absolute;
    top: 16px;
    left: 0;
    width: 100%;
    height: 1.5px;
    background-color: #ffff68;
  }
  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 8px;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 8px;
  }
  .header__menu {
    z-index: 1;
    margin: 110px 0 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .header__menu li {
    margin: 0 !important;
    padding: 0 0 30px 0;
  }
  .header__link {
    font-size: 30px;
  }
  .header__link:hover:after {
    display: none;
  }
  .header__phone {
    margin: 7px 0 0 0;
  }
}

@media (max-width: 530px) {
  .header__row {
    height: 50px;
  }
  .header__row:before {
    height: 50px;
  }
  .header__logotype {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 90px;
    flex: 0 1 90px;
  }
  .header__menu {
    margin: 80px 0 0 0;
  }
  .header__adress {
    font-size: 14px;
  }
  .header__phone {
    margin: 5px 0 0 0;
    font-size: 15px;
  }
}

@media (max-width: 360px) {
  .header__adress {
    font-size: 13px;
  }
  .header__phone {
    margin: 5px 0 0 0;
    font-size: 13px;
  }
}
