@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url("../fonts/helveticaneuecyr-light.eot");
  src: local("☺"), url("../fonts/helveticaneuecyr-light.woff") format("woff"), url("../fonts/helveticaneuecyr-light.ttf") format("truetype"), url("../fonts/helveticaneuecyr-light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url("../fonts/helveticaneuecyr-roman.eot");
  src: local("☺"), url("../fonts/helveticaneuecyr-roman.woff") format("woff"), url("../fonts/helveticaneuecyr-roman.ttf") format("truetype"), url("../fonts/helveticaneuecyr-roman.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url("../fonts/helveticaneuecyr-bold.eot");
  src: local("☺"), url("../fonts/helveticaneuecyr-bold.woff") format("woff"), url("../fonts/helveticaneuecyr-bold.ttf") format("truetype"), url("../fonts/helveticaneuecyr-bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url("../fonts/HelveticaNeueCyr-Black.eot");
  src: local("☺"), url("../fonts/HelveticaNeueCyr-Black.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Black.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr-Black.svg") format("svg");
  font-weight: 900;
  font-style: normal;
}

html, body {
  font-family: 'HelveticaNeueCyr';
  height: 100%;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ibg img {
  display: none;
}

.container {
  max-width: 1107px;
  margin: 0 auto;
  padding: 0 10px;
}

.content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.header {
  position: fixed;
  width: 100%;
}

.header:before {
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #191919;
}

.header__wrap {
  position: relative;
  height: 99px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__image {
  position: relative;
  z-index: 2;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 143px;
  flex: 0 1 143px;
}

.header__image img {
  max-width: 100%;
}

.header__burger {
  display: none;
}

.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
}

.header__link {
  margin: 0 17px;
  font-size: 16px;
  letter-spacing: 0.01em;
  position: relative;
}

.header__link a {
  color: #ffffff;
}

.header__link:first-child {
  margin: 0 17px 0 0;
}

.header__link:last-child {
  margin: 0 0 0 17px;
}

.header__link:hover:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: -5px;
  background-color: #fcef48;
  -webkit-animation-name: line;
  animation-name: line;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes line {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes line {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@media (max-width: 970px) {
  .header .header__wrap {
    height: 60px;
  }
  .header .header__image {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 120px;
    flex: 0 1 120px;
  }
  .header .header__burger {
    display: block;
    position: relative;
    z-index: 2;
    top: 0;
    right: 0;
    width: 30px;
    height: 20px;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
  .header .header__burger:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1.5px;
    background-color: #fcef48;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header .header__burger:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.5px;
    background-color: #fcef48;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header .header__burger span {
    display: block;
    position: absolute;
    top: 8.5px;
    left: 0;
    width: 100%;
    height: 1.5px;
    background-color: #fcef48;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header .header__burger.active:before {
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    top: 8px;
  }
  .header .header__burger.active:after {
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
    bottom: 9px;
  }
  .header .header__burger.active span {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  .header .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.95;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    overflow: auto;
  }
  .header .header__menu.active {
    top: 0;
  }
  .header .header__links {
    margin: 100px 0 0 0;
    display: block;
  }
  .header .header__link {
    font-size: 32px;
    margin: 30px 0;
    text-align: center;
  }
  .header .header__link:hover:after {
    display: none;
  }
  .header .header__contacts {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .header .header__adress {
    margin: 0 0 7px 0;
  }
}

@media (max-width: 480px) {
  .header .header__wrap {
    height: 50px;
  }
  .header .header__image {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 90px;
    flex: 0 1 90px;
  }
  .header .header__burger span {
    top: 9px;
  }
  .header .header__links {
    margin: 90px 0 0 0;
  }
  .header .header__adress {
    font-size: 12px;
    margin: 0 0 5px 0;
  }
  .header .header__phone {
    font-size: 13px;
  }
}

@media (max-width: 305px) {
  .header .header__image {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 75px;
    flex: 0 1 75px;
  }
}

.header__contacts {
  margin: 0 10px 0 0;
  position: relative;
  z-index: 2;
  text-align: center;
}

.header__adress {
  margin: 0 0 13px 0;
  font-size: 16px;
  letter-spacing: 0.01em;
  color: #ffffff;
  text-align: right;
}

.header__phone {
  background: url(../img/phones/01_g.png) left no-repeat;
  padding: 0 0 0 25px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.01em;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #ffff68;
}

.header__phone:hover {
  text-shadow: 3px 3px 10px #fcef48;
}
