// Файл обнуляющих стилей
@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap');

// Подключение шрифтов
@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/helveticaneuecyr-light.eot');
	src: local('☺'), url('../fonts/helveticaneuecyr-light.woff') format('woff'), url('../fonts/helveticaneuecyr-light.ttf') format('truetype'), url('../fonts/helveticaneuecyr-light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}


@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/helveticaneuecyr-roman.eot');
	src: local('☺'), url('../fonts/helveticaneuecyr-roman.woff') format('woff'), url('../fonts/helveticaneuecyr-roman.ttf') format('truetype'), url('../fonts/helveticaneuecyr-roman.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/helveticaneuecyr-bold.eot');
	src: local('☺'), url('../fonts/helveticaneuecyr-bold.woff') format('woff'), url('../fonts/helveticaneuecyr-bold.ttf') format('truetype'), url('../fonts/helveticaneuecyr-bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}


@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr-Black.eot');
	src: local('☺'), url('../fonts/HelveticaNeueCyr-Black.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Black.ttf') format('truetype'), url('../fonts/HelveticaNeueCyr-Black.svg') format('svg');
	font-weight: 900;
	font-style: normal;
}

$maxWidth: 1366;
@mixin adaptiv-font($pcSize, $mobSize) {
 $addSize: $pcSize - $mobSize;
 $maxWidth: $maxWidth - 320;
 font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}
////////////////////////////////////////////////////////////////////////////////////////////

html,body{
	font-family: 'HelveticaNeueCyr';
	height: 100%;
}

body.lock{
	overflow: hidden;
}

.wrapper{
	min-height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.ibg{
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		img{display: none};
}
.container{
	max-width: 1107px;
	margin: 0 auto;
	padding: 0 10px;
}
////////////////////////////////////////////////////////////////

.content{
	flex: 1 1 auto;
}


//===============  HEADER

.header {
	position: fixed;
	width: 100%;
	z-index: 50;
	&:before{
		content: '';
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #191919;
	}
	&__wrap {
		position: relative;
		height: 99px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__image {
		position: relative;
		z-index: 2;
		flex: 0 1 143px;
		& img{
			max-width: 100%;
		}
	}
	&__burger {
		display: none;
	}
	&__menu {
	}
	&__links{
		display: flex;
		position: relative;
		z-index: 2;
	}
	&__link{
		margin: 0 17px;
		font-size: 16px;
		letter-spacing: 0.01em;
		position: relative;
		& a{
			color: #ffffff;
		}
		&:first-child{
			margin: 0 17px 0 0;
		}
		&:last-child{
			margin: 0 0 0 17px;
		}
		&:hover:after{
			content: '';
			position: absolute;
			width: 100%;
			height: 2px;
			left: 0;
			bottom: -5px;
			background-color: #fcef48;

			animation-name: line;
			animation-duration: 0.5s;
			animation-timing-function: ease;
			animation-fill-mode: forwards;
		}
		@keyframes line {
			0%{
				width: 0%;
			}
			100%{
				width: 100%;
			}
		}
	}
	@media (max-width: 970px) {
		.header__wrap{
			height: 60px;
		}
		.header__image{
			flex: 0 1 120px;
		}
		.header__burger{
			display: block;
			position: relative;
			z-index: 2;
			top: 0;
			right: 0;
			width: 30px;
			height: 20px;
			order: 3;
			&:before{
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 1.5px;
				background-color: #fcef48;
				transition: all 0.3s ease 0s;
			}
			&:after{
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 1.5px;
				background-color: #fcef48;
				transition: all 0.3s ease 0s;
			}
			& span{
				display: block;
				position: absolute;
				top: 8.5px;
				left: 0;
				width: 100%;
				height: 1.5px;
				background-color: #fcef48;
				transition: all 0.3s ease 0s;
			}
		}
		.header__burger.active:before{
			transform: rotate(135deg);
			top: 8px;
		}
		.header__burger.active:after{
			transform: rotate(-135deg);
			bottom:9px;
		}
		.header__burger.active span{
			transform: scale(0);
		}
		.header__menu{
			position: fixed;
			top: -100%;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #000;
			opacity: 0.95;
			transition: all 0.5s ease 0s;
			overflow: auto;
		}
		.header__menu.active{
			top: 0;
		}
		.header__links{
			margin: 100px 0 0 0;
			display: block;
		}
		.header__link{
			font-size: 32px;
			margin: 30px 0;
			text-align: center;
			&:hover:after{
				display: none;
			}
		}
		.header__contacts{
			order:2;
		}
		.header__adress{
			margin: 0 0 7px 0;
		}
	}
	@media (max-width: 480px) {
		.header__wrap{
			height: 50px;
		}
		.header__image{
			flex: 0 1 90px;
		}
		.header__burger{
			& span{
				top: 9px;
			}
		}
		.header__links{
			margin: 90px 0 0 0;
		}
		.header__adress{
			font-size: 12px;
			margin: 0 0 5px 0;
		}
		.header__phone{
			font-size: 13px;
		}
	}
	@media (max-width: 305px) {
		.header__image{
			flex: 0 1 75px;
		}
	}
	&__contacts {
		margin: 0 10px 0 0;
		position: relative;
		z-index: 2;
		text-align: center;
	}
	&__adress{
		margin: 0 0 13px 0;
		font-size: 16px;
		letter-spacing: 0.01em;
		color: #ffffff;
		text-align: right;
	}
	&__phone{
		background: url(../img/phones/01_g.png) left no-repeat;
		padding: 0 0 0 25px;
		font-size: 18px;
		font-weight: 700;
		letter-spacing: 0.01em;
		transition: all 0.3s ease 0s;
		color: #ffff68;
		&:hover{
			text-shadow: 3px 3px 10px #fcef48;
		}
	}
}

//============================  SLIDER  ==============================


.slider {
	min-height: 100vh;
	display: flex;
	position: relative;
	&__image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	.slick-arrow{
		font-size: 0;
	}
	@media (max-width: 768px) {
		
	}
}
.slick-list {
	position: relative;
	width: 100%;
	overflow: hidden;
}
.slick-track{
		display: flex;
		position: relative;
		width: 100%;
		height: 100%;
		overflow: hidden;
}
.slick-slide{
	width: 100%;
	overflow: hidden;
	position: relative;
}


//====================  MAIN  ======================

.main {
	position: absolute;
	top: 179px;
	width: 100%;
	&__wrapper {
	}
	&__info {

	}
	&__cards {}
}
.info {
	max-width: 1015px;
	margin: 0 auto;
	padding: 0 20px;
	display: flex;
	justify-content: space-between;
	&__column {
	}
	&__title {
		font-family: Montserrat;
		font-size: 36px;
		line-height: 48px;
		font-weight: 900;
		text-transform: uppercase;
		letter-spacing: 0.01em;
		color: #ffffff;
	}
	&__subtitle {
		margin: 39px 0 0 0;
		max-width: 435px;
		font-size: 16px;
		line-height: 23px;
		letter-spacing: 0.01em;
		color: #ffffff;
	}
	&__button {
		margin: 39px 0 0 0;
	}
	&__links {
		margin: 60px 0 0 0;
	}
	&__link {
		margin: 20px 0 0 0;
	}
}
.btn {
		max-width: 149px;
		font-size: 17px;
		line-height: 44px;
		font-weight: 900;
		letter-spacing: 0.01em;
		& a{
			display: block;
			text-align: center;
			color: #202020;
			width: 149px;
			background-color: #fcef48;
		}
}
.cards {
	margin: 84px 0 0 0;
	overflow: hidden;
	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		margin: 0 -15px;
	}
	&__column {
		margin: 0 15px;
	}
	&__card {
		margin: 15px 0 0 0;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 340px;
		height: 116px;
		border: 2px solid #fff;
		padding: 0 5px;
		border-radius: 3px;
	}
	&__image {}
	&__body {
		margin:0 0 0 27px;
		max-width: 250px;
	}
	&__title {
		font-size: 18px;
		font-weight: 900;
		letter-spacing: 0.01em;
		color: #ffffff;
	}
	&__subtitle {
		margin: 12px 0 0 0;
		font-size: 15px;
		line-height: 21px;
		font-weight: 300;
		letter-spacing: 0.01em;
		color: #ffffff;
	}
}

@media (max-width: 1100px) {
	.main{
		top: 129px;
	}
	.cards{
		margin: 40px 0 0 0;
	}
	.cards__card{
		margin: 10px 0 0 0;
		height: 100px;
	}
}
@media (max-width: 970px) {
	.main{
		top: 100px;
	}
	.cards{
		margin: 60px 0 0 0;
	}
}
@media (max-width: 730px) {
	.main{
		top: 85px;
	}
	.info__subtitle{
		margin: 20px 0 0 0;
	}
	.info__button{
		margin: 26px 0 0 0;
	}
	.info__links{
		display: none;
	}
	.cards{
		margin: 40px 0 0 0;
	}
	.cards__card{
		margin: 7px 0 0 0 ;
		height: 90px;
	}
	.cards__subtitle{
		margin: 5px 0 0 0;
	}
}
@media (max-width: 547px) {
	.main{
		top: 80px;
	}
	.info__title{
		font-size: 28px;
		line-height: 40px;
	}
	.info__subtitle{
		margin: 13px 0 0 0;
	}
	.info__button{
		margin: 18px 0 0 0;
	}
	.cards{
		margin: 70px 0 0 0;
	}
}
@media (max-width: 493px) {
	.cards{
		margin: 30px 0 0 0;
	}
	.cards__card{
		height: 60px;
		width: 215px;
	}
	.cards__body{
		margin: 0 0 0 17px;
	}
	.cards__title{
		font-size: 14px;
	}
	.cards__subtitle{
		margin: 2px 0 0 0;
		font-size: 12px;
		line-height: 12px;
	}
}
@media (max-width: 438px) {
	.info__title{
		font-size: 26px;
		line-height: 36px;
	}
	.info__subtitle{
		font-size: 14px;
		line-height: 20px;
	}
	.btn{
		line-height: 40px;
		max-width: 120px;
		font-size: 16px;
		& a{
			width: 120px;
		}
	}
}
@media (max-width: 412px) {
	.main{
		top: 65px;
	}
}
@media (max-width: 347px) {
	.cards{
		margin: 15px 0 0 0;
	}
	.cards__card{
		margin: 5px 0 0 0;
	}
}