// Файл обнуляющих стилей
@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap');

// Подключение шрифтов
@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/helveticaneuecyr-light.eot');
	src: local('☺'), url('../fonts/helveticaneuecyr-light.woff') format('woff'), url('../fonts/helveticaneuecyr-light.ttf') format('truetype'), url('../fonts/helveticaneuecyr-light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}


@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/helveticaneuecyr-roman.eot');
	src: local('☺'), url('../fonts/helveticaneuecyr-roman.woff') format('woff'), url('../fonts/helveticaneuecyr-roman.ttf') format('truetype'), url('../fonts/helveticaneuecyr-roman.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/helveticaneuecyr-bold.eot');
	src: local('☺'), url('../fonts/helveticaneuecyr-bold.woff') format('woff'), url('../fonts/helveticaneuecyr-bold.ttf') format('truetype'), url('../fonts/helveticaneuecyr-bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}


@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr-Black.eot');
	src: local('☺'), url('../fonts/HelveticaNeueCyr-Black.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Black.ttf') format('truetype'), url('../fonts/HelveticaNeueCyr-Black.svg') format('svg');
	font-weight: 900;
	font-style: normal;
}

$maxWidth: 1366;
@mixin adaptiv-font($pcSize, $mobSize) {
 $addSize: $pcSize - $mobSize;
 $maxWidth: $maxWidth - 320;
 font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}
////////////////////////////////////////////////////////////////////////////////////////////

.ibg{
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		img{display: none};
}

//=========================================================================================
.wrapper {
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
html,body{
	height: 100%;
	font-family: 'HelveticaNeueCyr'
}
.page {
	display: flex;
	flex-direction:column;
}
.container{
	max-width: 1127px;
	margin: 0 auto;
	padding: 0 10px;
}

//===========================================================================================




// <MAINBLOCK> ===============================================================================

.mainblock{
	flex: 1 1 auto;
}
.slider {
	min-height: 100vh;
	display: flex;
	position: relative;
	&__image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	.slick-arrow{
		font-size: 0;
	}
	@media (max-width: 768px) {
		
	}
}
.slick-list {
	position: relative;
	width: 100%;
	overflow: hidden;
}
.slick-track{
		display: flex;
		position: relative;
		width: 100%;
		height: 100%;
		overflow: hidden;
}
.slick-slide{
	width: 100%;
	overflow: hidden;
	position: relative;
}

// <HEADER> ==========================================================================

.header {
	background-color: #191919;
	position: fixed;
	z-index: 2;
	width: 100%;
	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 99px;
		width: 100%;
	}
	&__logo{
		display: flex;
	}
	&__logotype {
		flex: 0 1 143px;
		& img{
			max-width: 100%;
		}
	}
	&__body {
	}
	&__burger {}
	&__menu {
		display: flex;
		& li{
			margin: 0 16px;
			&:first-child{
				margin: 0 16px 0 0;
			}
			&:last-child{
				margin: 0 0 0 16px;
			}
		}
	}
	&__link {
		position: relative;
		font-size: 16px;
		letter-spacing: 0.01em;
		color: #ffffff;
		&:hover{
			&:after{
				content: '';
				display: block;
				position: absolute;
				bottom:-7px;
				height: 1px;
				width: 100%;
				background-color: #fcef48;
				animation-name: run;
				animation-duration: 0.4s;
			}
		}
	}
	@keyframes run{
		0%{
			width: 0%;
		}
		100%{
			width: 100%;
		}
	}
	&__contacts {
	}
	&__adress {
		font-size: 16px;
		letter-spacing: 0.01em;
		text-align: right;
		& a{
			color: #ffffff;
		}
	}
	&__phone {
		margin: 13px 0 0 0;
		background: url(../img/phones/01_g.png) left no-repeat;
		padding: 0 0 0 25px;
		font-size: 18px;
		font-weight: 700;
		letter-spacing: 0.01em;
		& a{
			color: #ffff68;
		}
	}
}


