// Файл обнуляющих стилей
@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap');

// Подключение шрифтов
@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/helveticaneuecyr-light.eot');
	src: local('☺'), url('../fonts/helveticaneuecyr-light.woff') format('woff'), url('../fonts/helveticaneuecyr-light.ttf') format('truetype'), url('../fonts/helveticaneuecyr-light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}


@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/helveticaneuecyr-roman.eot');
	src: local('☺'), url('../fonts/helveticaneuecyr-roman.woff') format('woff'), url('../fonts/helveticaneuecyr-roman.ttf') format('truetype'), url('../fonts/helveticaneuecyr-roman.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/helveticaneuecyr-bold.eot');
	src: local('☺'), url('../fonts/helveticaneuecyr-bold.woff') format('woff'), url('../fonts/helveticaneuecyr-bold.ttf') format('truetype'), url('../fonts/helveticaneuecyr-bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}


@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr-Black.eot');
	src: local('☺'), url('../fonts/HelveticaNeueCyr-Black.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Black.ttf') format('truetype'), url('../fonts/HelveticaNeueCyr-Black.svg') format('svg');
	font-weight: 900;
	font-style: normal;
}

$maxWidth: 1366;
@mixin adaptiv-font($pcSize, $mobSize) {
 $addSize: $pcSize - $mobSize;
 $maxWidth: $maxWidth - 320;
 font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}
////////////////////////////////////////////////////////////////////////////////////////////

.ibg{
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		img{display: none};
}

//=========================================================================================
.wrapper {
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
html,body{
	height: 100%;
	font-family: 'HelveticaNeueCyr'
}
body.lock{
	overflow: hidden;
}
.page {
	display: flex;
	flex-direction:column;
}
.container{
	max-width: 1127px;
	margin: 0 auto;
	padding: 0 10px;
}

//===========================================================================================




// <MAINBLOCK> ===============================================================================

.mainblock{
	flex: 1 1 auto;
}
.slider {
	min-height: 100vh;
	display: flex;
	position: relative;
	&__image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	.slick-arrow{
		font-size: 0;
	}
	@media (max-width: 768px) {
		
	}
}
.slick-list {
	position: relative;
	width: 100%;
	overflow: hidden;
}
.slick-track{
		display: flex;
		position: relative;
		width: 100%;
		height: 100%;
		overflow: hidden;
}
.slick-slide{
	width: 100%;
	overflow: hidden;
	position: relative;
}

// <HEADER> ==========================================================================

.header {
	background-color: #191919;
	position: fixed;
	z-index: 100;
	width: 100%;
	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 99px;
		width: 100%;
		&:before{
			content: '';
			width: 100%;
			height: 99px;
			position: fixed;
			z-index: 3;
			top: 0;
			left: 0;
			background-color: #191919;
		}
	}
	&__logo{
		display: flex;
		position: relative;
		z-index: 4;
	}
	&__logotype {
		position: relative;
		z-index: 4;
		flex: 0 1 143px;
		& img{
			max-width: 100%;
		}
	}
	&__body {
	}
	&__burger {
		display: none;
	}
	&__menu {
		position: relative;
		z-index: 4;
		display: flex;
		& li{
			margin: 0 16px;
			&:first-child{
				margin: 0 16px 0 0;
			}
			&:last-child{
				margin: 0 0 0 16px;
			}
		}
	}
&__link {
		position: relative;
		font-size: 16px;
		letter-spacing: 0.01em;
		color: #ffffff;
			&:after{
				content: '';
				display: block;
				position: absolute;
				visibility: hidden;
				bottom:-7px;
				height: 1px;
				width: 100%;
				background-color: #fcef48;
				transition: all 0.4s ease 0s;
				animation-name:unrun;
				animation-duration: 0.4s;
			}
			&:hover:after{
				visibility: visible;
				transform:translateX(0%);
				animation-name:run;
				animation-duration: 0.4s;
			}
	}
	@keyframes run{
		0%{
			width: 0%;
		}
		100%{
			width: 100%;
		}
	}
	@keyframes unrun{
		0%{
			width: 100%;
		}
		100%{
			width: 0%;
		}
	}
	&__contacts {
		position: relative;
		z-index: 4;
	}
	&__adress {
		font-size: 16px;
		letter-spacing: 0.01em;
		text-align: right;
		& a{
			color: #ffffff;
		}
	}
	&__phone {
		margin: 13px 0 0 0;
		background: url(../img/phones/01_g.png) left no-repeat;
		padding: 0 0 0 25px;
		font-size: 18px;
		font-weight: 700;
		letter-spacing: 0.01em;
		& a{
			color: #ffff68;
		}
	}
	@media (max-width: 1000px) {
		&__row{
			height: 70px;
			&:before{
				height: 70px;
			}
		}
		&__logotype{
			flex: 0 1 120px;
		}
		&__body{
			transition: all 0.5s ease 0s;
			overflow: auto;
			position: fixed;
			top: -100%;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #000;
			&:before{
			}
		}
		&__body.active{
			top: 0;
		}
		&__burger{
			display: block;
			position: relative;
			top: 0;
			left: 0;
			width: 30px;
			height: 20px;
			z-index: 5;
			order:3;
			&:before{
				transition: all 0.3s ease;
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 1.5px;
				background-color: #ffff68;
			}
			& span{
				transition: all 0.3s ease;
				display: block;
				position: absolute;
				top: 8px;
				left: 0;
				width: 100%;
				height: 1.5px;
				background-color: #ffff68;
			}
			&:after{
				transition: all 0.3s ease;
				content: '';
				position: absolute;
				top: 16px;
				left: 0;
				width: 100%;
				height: 1.5px;
				background-color: #ffff68;
			}
		}
		&__burger.active:before{
			transform:rotate(45deg);
			top: 8px;
		}
		&__burger.active span{
			transform:scale(0);
		}
		&__burger.active:after{
			transform:rotate(-45deg);
			top: 8px;
		}
		&__menu{
			z-index: 1;
			margin: 110px 0 0 0;
			flex-direction:column;
			align-items: center;
			& li{
				margin: 0 !important;
				padding:  0 0 30px 0;
			}
		}
		&__link{
			font-size: 30px;
			&:hover:after{
				display: none;
			}
		}
		&__contacts{
		}
		&__adress{
		}
		&__phone{
			margin: 7px 0 0 0;
		}
	}
	@media (max-width: 530px) {
		&__row{
			height: 50px;
			&:before{
				height: 50px;
			}
		}
		&__logotype{
			flex: 0 1 90px;
		}
		&__menu{
			margin: 80px 0 0 0;
		}
		&__adress{
			font-size: 14px;
		}
		&__phone{
			margin: 5px 0 0 0;
			font-size: 15px;
		}
	}
	@media (max-width: 360px) {
		&__adress{
			font-size: 13px;
		}
		&__phone{
			margin: 5px 0 0 0;
			font-size: 13px;
		}
	}
}


